body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

form {
  background-color: white;
  display: grid;
  border-radius: 40px;
  font-size: 20px;
  align-items: center;
  width: 300px;
  padding: 20px;
}
